<footer class="py-1 mt-4 base-footer expand-lg">
    <ul class="nav justify-content-center border-bottom pb-1 mb-1">
        <li class="nav-item">
            <a href="https://www.buymeacoffee.com/sebastianlange"
               class="nav-link px-2">Buy me a Coffee</a>
        </li>
        <li class="nav-item"><a href="mailto: bastilange@t-online.de"
                                class="nav-link px-2 ">Contact me</a>
        </li>
        <li class="nav-item"><a
                href="https://ourcs.co.uk/information/flags/isis/"
                class="nav-link px-2 ">Flag Status</a>
        </li>
    </ul>
    <p class="text-center text-muted">© Power-10Coding</p>
</footer>
