{% for k, v in squads_erg_tests.items %}
    <h3 class="mt-3"> {{ k }} Scoreboard</h3>
    <div class="row">
        <div class="col-12 scoreboard">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Athlete</th>
                    <th scope="col">Time</th>
                    <th scope="col">Split Time</th>
                    <th scope="col">Distance</th>
                    <th scope="col">Completed At</th>
                </tr>
                </thead>
                <tbody>
                {% for erg in v %}
                    <tr>
                        <td>{{ erg.completed_by }}</td>
                        <td>{{ erg.result_time }}</td>
                        <td>{{ erg.split_time }}</td>
                        <td>{{ erg.distance }}</td>
                        <td>{{ erg.completed_at|date:"d M Y" }}</td>
                        {% empty %}
                        <td colspan="6" class="text-center"><strong>No Ergs
                            submitted
                            for this
                            month</strong></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endfor %}