{% extends "logbook/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <h3 class="mt-3">Reset your password</h3>
                <p class="my-4">Forgotten your password? Enter your email
                    address below, and
                    we'll
                    email instructions for setting a new one.
                </p>
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="Submit" value="Send email"/>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}