{% extends "logbook/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <h3 class="my-3">Enter new password</h3>
                <p>Please enter your new password twice, so we can verify you
                    typed it in
                    correctly.</p>

                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="Submit" value="Update password"/>
                </form>
            </div>
        </div>
    </div>
    {#    Show error message if password is not valid#}


{% endblock content %}